<form action="/tasks" method="post">

  <label for="name">Ingrese tarea</label>
  <input type="text" name="task[title]" placeholder="Nombre">

  <label for="name">Ingrese detalles</label>
  <input type="text" name="task[details]" placeholder="Detalles">

  <label for="name">Ingrese estado</label>
  <input type="boolean" name="task[completed]" placeholder="Estado">

  <input type="submit">

</form>